.root {
  --frame-width: 240px;

  background-color: #fbfcfc;
}

@media (width >= 64rem) {
  .root {
    --frame-width: 366px;
  }
}

.slide {
  height: auto;
}

.item {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;

  height: 100%;
  padding-top: 32px;
}

@media (width >= 64rem) {
  .item {
    flex-direction: row;

    max-width: 90%;
    height: 600px;
    margin: 0 auto;
    padding-top: 16px;
  }
}

.showcase {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

@media (width >= 64rem) {
  .showcase {
    width: 50%;
    padding-top: 64px;
  }
}

.frame {
  position: relative;
  width: var(--frame-width);
}

.frame > img {
  display: block;
  max-width: 100%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  max-width: 592px;
  min-height: 310px;
  margin: 0 auto;
  padding: 16px;

  text-align: center;
}

@media (width >= 64rem) {
  .content {
    align-items: flex-end;
    padding-top: 180px;
    text-align: right;
  }
}

.label {
  font-weight: 900;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  margin-top: 16px;
  font-size: 32px;
  font-weight: 700;
}

.desc {
  margin-top: 20px;
  font-size: 14px;
  line-height: 2;
}

@media (width >= 64rem) {
  .desc {
    flex: initial;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.8px;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 24px;

  height: 40px;
  margin-top: 32px;
  padding: 0 16px;

  line-height: 38px;

  background-color: transparent;
  border: 1px solid var(--border-color);
}

@media (width >= 64rem) {
  .btn {
    height: 54px;
    padding: 0 24px;
    font-size: 20px;
    line-height: 52px;
  }
}

.thumbs {
  background-color: var(--white);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.thumb {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  width: auto;
  padding: 32px;

  font-size: 20px;
  font-weight: 500;
}

.thumb:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.thumb-active {
  background: rgb(var(--primary-rgb) / 3%);
}

@media (width >= 64rem) {
  .thumb {
    padding-right: 0;
    padding-left: 0;
  }
}

.icon {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;

  color: var(--gray);

  border: 1px solid var(--border-color);
  border-radius: 100%;
}

.thumb-active .icon {
  color: var(--primary);
}

.checkmark {
  position: absolute;
  z-index: 2;

  width: calc(100% + 4px);
  height: calc(100% + 4px);

  color: var(--primary);
}

.checkmark circle {
  stroke: currentcolor;
}
